.app {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #034a65;
}

.masonry {
    width: 80%;
    height: 100%;
}

.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.loading {
    margin: 15%;
    font-size: 50px;
}

.eta-display {
    /*display: inline-block;
    align-content: center;
    padding: 1%;
    width: 200px;
    height: 175px;
    
    */
    border-radius: 3%;
    padding: 1%;
    margin: 1px;
    border: 0px solid grey;
    background: #B3DDF2;
}

.g {
    /*background: #009b3a;*/
    background: #a5ffc1;
}

.pink {
    /*background: #e27ea6;*/
    background: #ffcffd;
}

.blue {
    /*background: #00a1de;*/
    /*background: #aebbfc;*/
}

.grid-item-first {
    width: 30%;
    height: 60%;
}
/*
.grid-item-1 {
    width: 10%;
    height: 20%;
}

.grid-item-2 {
    width: 15%;
    height: 10%;
}

.grid-item-3 {
    width: 5%;
    height: 5%;
}*/

.eta-display .number {
    font-size: xx-large;
}

.dark-blue-cta {
    background: #059;
}
